<html>
    <head>
        <title>Snapsekassen</title>
    	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script>
            function showClaim(id)
            {
                jQuery("claim_"+id).show("slow");
            }
        </script>
    </head>
    <body>
    	<div id="header">
    		<h2>Snapsekassen</h2>
    	</div>
        <div id="wrapper">
        	<div id="content">
                {% for person in object_list %}
                <p id="person_{{ person }}">{{ person }}<sup>{{ person.claim_set.count }}</sup></p>
                {% endfor %}
        	</div>
            <div id="claim">

            </div>
            <p>Total amount in the box: {{ total_sum.debt__sum  }}</p>
        </div>
    </body>
</html>
