<html>
    <head>
        <title>Snapsekassen</title>
    	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script>
            function showClaim(id)
            {
                jQuery("claim_"+id).show("slow");
            }
        </script>
    </head>
    <body>
    	<div id="header">
    		<h2>Snapsekassen</h2>
    	</div>
        <div id="wrapper">
        	<div id="content">
                {% for person in object_list %}
                <p id="person_{{ person }}">({{ person }})<sup>{{ person.claim_set.count }}</sup></p>
                <ol>
                  {% for claim in person.claim_set.all %}
                  <li>{{ claim.reason }} <i>({{ claim.reported_by }})</i></li>
                  {% endfor %}
                </ol>
                {% endfor %}
        	</div>
            <div id="claim">

            </div>
            <p>Total amount in the box: {{ total_sum.debt__sum  }}</p>
        </div>
    </body>
</html>

<!doctype html>
<html>
<head>
    <title>Snapsekassen</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <header id="header">
        <h1>Snapsekassen</h1>
    </header>

    <section id="claims">
        {% for person in object_list %}
        <article id="person_{{ person }}">
            <h2>{{ person }} <span>{{ person.claim_set.count }}</span></h2>
            {% for claim in person.claim_set.all %}
            <p>{{ claim.reason }} <span>&mdash; {{ claim.reported_by }}</span></p>
            {% endfor %}
        </article>
        {% endfor %}

    </section>

</body>
</html>