#header
{
	text-align: center;
}
#wrapper
{
	text-align: center;
}
#content
{
	width: 50%;
	min-height: 50%;
	margin-top: 100px;
  margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	-moz-border-radius: 15px;
	background-color: #CCFF99;
  overflow: auto;
}

#claim
{
	display: none;
}

table
{
	margin-left: auto;
	margin-right: auto;
}
th
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
tr
{
	text-align: left;
}
td
{
	padding: 8px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
}
p
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2
{
	font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;	
}
