#header
{
	text-align: center;
}
#wrapper
{
	text-align: center;
}
#content
{
	width: 50%;
	height: 50%;
	position: relative;
	top: 5%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	-moz-border-radius: 15px;
	background-color: #CCFF99;
	overflow: scroll;
}

#claim
{
	display: none;
}

table
{
	margin-left: auto;
	margin-right: auto;
}
th
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
tr
{
	text-align: center;
}
td
{
	padding: 8px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
}
p
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
